footer.navbar.navbar-default.navbar-fixed-bottom
  .container.text-center.vcenter
    p.pull-left © 2016 Budget Buddies Team - made with &#x2665; for the
        a(href="https://www.koding.com/Hackathon")  hack.summit() Hackathon
    ul.pull-right.list-inline
      li
        a(href='/') About
      li
        a(href='https://github.com/tadasz/BudgetBuddies') Source Code



