footer
  .container.text-center
    p.pull-left © 2016 Budget Buddies Team - made with &#x2665; for the
        a(href="https://www.koding.com/Hackathon")  hack.summit() Hackathon
    ul.pull-right.list-inline
      li
        a(href='https://github.com/tadasz/BudgetBuddies') GitHub Project
      li
        a(href='https://github.com/tadasz/BudgetBuddies/issues') Issues
