extends layout

block content
    h1 Inspector Budget: Be the boss of your own wallet
    h1 What is Inspector Budget ?
   
    p  Inspector Budget is a game that will to help you control your money and organize your finances. 
    p  Its  main goal is to present a fun and dynamic way to keep track of your daily, weekly and monthly budget by mirroring your expenses.
    p  Therefore, the better you do on the game, the better you do on your real life.
   
    h1 What is the idea behind Inspector Budget?
    p According to Charles Duhigg, our brains, in attempt to save space and effort, tries to transform our daily activities into habits by making
    p it execute them in three steps. The author calls this process “The habit loop”.  The Cue is the first element, the one that triggers the habit.
    p The next one is The routine, the process that we go through in order to achieve our goal.
    p The Reward is the last element of the process and the reason why we began the activity in the first place.
    p As soon as we are able to define what triggers us to do something and what we expect from this action, we are able to change the routine 
    p that leads us to it. 
    h1 How Inspector Budget works?
    p The game operates as a tool that will assist you  to set a habit of controlling the amount and way you spend your money. 
    p By logging your outlays, you will be able to keep even those almost insignificant costs always on track, avoiding mysterious holes on your budget
    p and unpleasant surprises at the end of every month.
    h1 Learn more
    p The power of habit by Charles Duhigg
    p Research and teaching guides
    p Operant Conditioning
