extends layout

block style
  link(rel='stylesheet', href='/css/demo.css')

block game_content
  h1 #{date_title}
    input.finish_day_button(type="button", value="Finish day", onclick="reportEndOfDay()")

  //- h2 Debug Options
  //- p

  //- p.lead
  .jumbotron
    .game_container
      .game(id="game")
  //- hr
  .container
    .row
      .attack_container
        p
          | &#x1F44A; ATTACK by logging your expense below:

  .input_container
    input.previous_day_button(type="button", value="<<<", onclick="goToPreviousDay()")
    input.main_input(type="text", id="expense_input")
    input.next_day_button(type="button", value=">>>", onclick="goToNextDay()")

block scripts
  //- script(src='/js/lib/jquery.inputmask.bundle.min.js')

  script.
    function reportEndOfDay() {
        console.log("reporting the end of the day...")
        $.get( "/game/summary/new", {date:Date.now(), balance: 20 });
    }

  script.
    $(document).ready(function(){
      $("#expense_input").keypress(function(e) {
          if(e.which == 13) {
                var expense_input = $("#expense_input").prop("value");
                $.get( "/game/expense", { date:Date.now(), value:expense_input });
                BB.heroController.attack();
                $("#expense_input").val("");
                POWERMODE.spawnParticles();
          }
      });
    });

  script.
    $(document).ready(function() {
      BB.game.monsters_json = $.get("/game/monster/month");
      BB.monsterController.addAllMonsters();
    });

  script(src='/js/lib/activate-power-mode.js')
  script(src='/js/lib/phaser.min.js')
  script(src='/js/game/init.js')
  script(src='/js/game/monsters.js')
  script(src='/js/game/hero.js')
  script(src='/js/game/main.js')



  script.
    POWERMODE.colorful = true;
    document.body.addEventListener('input', POWERMODE);
    document.body.addEventListener('input', function() {
      BB.heroController.setCharacterPose();
    });

