extends layout

block content
  h1 #{date_title}
    input.finish_day_button(type="button", value="Finish day", onclick="reportEndOfDay()")


  //- p.lead A boilerplate for Node.js web applications.
  .jumbotron
    .game_container
      .game(id="game")
  //- hr
  .container
    .row
      .attack_container
        p
          | &#x1F44A; ATTACK by logging your expense below:

block scripts
  //- script(src='/js/lib/jquery.inputmask.bundle.min.js')

  script.
    function reportEndOfDay() {
        console.log("something")
        $.get( "/game/summary/new", {date:Date.now(), balance: 20 });
    }
  
  script.
    $(document).ready(function(){
      $("#expense_input").keypress(function(e) {
          if(e.which == 13) {
                var expense_input = $("#expense_input").prop("value");
                $.get( "/game/expense", { date:Date.now(), value:expense_input });
          }
      });
      
        $.get("/lastLogin", function(data) {
            console.log("Data: " + data);
            
            if (data == "{}")
            {
                console.log("Set first day!");
                $.get("/lastLogin", {date: Date.now()});
            }
            else
            {
                var json = JSON.parse(data);
                //var lastLoginDate = new Date("2016-02-01");
                var lastLoginDate = new Date(json.last_login);
                
                //compare last with current day
                var diff = new Date(new Date() - lastLoginDate);
                var days = Math.floor(diff/1000/60/60/24);
                
                var result = [];
                for (i = 1; i < days; i++) 
                {
                    //Check if last login day was finished, otherwise finish it and check result
                    
                    
                    lastLoginDate.setDate(lastLoginDate.getDate() + 1);
                    var obj = {won: false, date: lastLoginDate, expenses: -1};
                    result.push(obj);
                }
                if (result.length > 0)
                    $.get("/updateDailyHistory", {result: JSON.stringify(result)});
            }
      });
      
      
    });
  script(src='/js/lib/activate-power-mode.js')
  script(src='/js/lib/phaser.min.js')
  script(src='/js/game/main.js')



  script.
    POWERMODE.colorful = true;
    document.body.addEventListener('input', POWERMODE);
  .input_container
    input.main_input(type="text", id="expense_input")


