extends layout

block content
  h1 #{date_title}
  p.lead A boilerplate for Node.js web applications.
  hr
  .game_canvas game will be here
  hr
  .main_input
      input(type="text", name="expense")
