extends layout

block content
  h1 #{date_title}
  p
    | Your progress for today
    input.finish_day_button(type="button", value="Finish day")


  //- p.lead A boilerplate for Node.js web applications.
  .jumbotron
    .game_container
      .game(id="game")
  //- hr
  .container
    .row
      .attack_container
        p
          | &#x1F44A; ATTACK by logging your expense below:

block scripts
  //- script(src='/js/lib/jquery.inputmask.bundle.min.js')


  script.
    $(document).ready(function(){
      $("#expense_input").keypress(function(e) {
          if(e.which == 13) {
                var expense_input = $("#expense_input").prop("value");
                $.get( "/game/expense", { date:Date.now(), value:expense_input });
          }
      });
    });
  script(src='/js/lib/activate-power-mode.js')
  script(src='/js/lib/phaser.min.js')
  script(src='/js/game/main.js')



  script.
    POWERMODE.colorful = true;
    document.body.addEventListener('input', POWERMODE);
  .input_container
    input.main_input(type="text", id="expense_input")


