extends layout

block content
  h1 #{date_title}
  //- p.lead A boilerplate for Node.js web applications.
  .jumbotron
    .game_container
      p
        | Here will be the game
  hr
  .container
    // Example row of columns
    .row
      script(src='/js/lib/activate-power-mode.js')
      script.
        POWERMODE.colorful = true;
        document.body.addEventListener('input', POWERMODE);

      .input_container
        input.main_input(type="text", id="expense_input")

