.body {
  /*background-color: #ff00ff;*/
}

.game_expense_list {
  margin-bottom: 100px;
}
.game_expense_list .list-group-item{
  width:60%;
  height:60px;
  text-align: center;
  font-size: 20pt;
  border-width: 1px;
  border-style: dotted;
  border-color: #cecece;
  margin:0 auto;
}

.game_expense_list .list-group-item .cost {
  font-size: 16pt;
  color: #ff3333;
  float:right;
}
.game_expense_list .list-group-item .date{
  font-size: 10pt;
  color: #cccccc;
  float:left;
}

.game_container {
  width:100%;
  height:100%;
  /*background-color:#ffff00;*/
}

.jumbotron {
  padding: 0 0 0 0 !important;
  height:400px !important;
  width:100% !important;
}

.input_container {
  text-align: center;
}

.finish_day_button {
  @extend .button;
  margin-left: 20px;
}

.main_input {
  width:80%;
  height:100px;
  text-align: center;
  font-size: 40pt;
  border-width: 3px;
  border-style: solid;

}

.attack_container p {
  font-size:18pt;
  text-align: center;
}

h1 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
