section#about.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading About the Project
        hr.light
        p.text-faded
          | Do you know that time at the end of the month when you have no cash left and don’t know why? We do too! This is why we create the Inspector Budget: to change the way we manage expenses, by playing.
          br
          | Because we believe money saving should be fun!
        
        //a.page-scroll.btn.btn-default.btn-xl(href='#services') Get Started!
 