section#features.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading Upcomming Features
        hr.light
  .container
    .row
        .col-lg-2.text-center
            .service-box
                i.fa.fa-4x.fa-mobile.wow.bounceIn
                h3 Mobile Version
                p Play anytime. Anywhere. Never miss a receipt again.
        .col-lg-2.text-center
            .service-box
                i.fa.fa-4x.fa-cube.wow.bounceIn
                h3 Themes
                p Star wars fan? Medieval knight? A hipster at Starbucks? Only you can tell!
        .col-lg-2.text-center
            .service-box
                i.fa.fa-4x.fa-user.wow.bounceIn
                h3 Personal Goals
                p Based on your daily logs, we predict your spending and give you personalized tasks.
        .col-lg-2.text-center
            .service-box
                i.fa.fa-4x.fa-users.wow.bounceIn
                h3 Play with Friends
                p Connect your Facebook account and set goals with your friends.
        .col-lg-2.text-center
            .service-box
                i.fa.fa-4x.fa-line-chart.wow.bounceIn
                h3 Statistics
                p Detailed overview of your budget.
        .col-lg-2.text-center
            .service-box
                i.fa.fa-4x.fa-bullhorn.wow.bounceIn
                h3 Shareability
                p Share your progress and inspire your friends to save too.