section#features.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading Upcomming Features
        hr.light
  .container
    .row
        .col-lg-2.text-center
            .service-box
                i.fa.fa-4x.fa-mobile.wow.bounceIn
                h3 Mobile Version
                p Our templates are updated regularly so they don't break.
        .col-lg-2.text-center
            .service-box
                i.fa.fa-4x.fa-user.wow.bounceIn
                h3 Personal Goals
                p Our templates are updated regularly so they don't break.
        .col-lg-2.text-center
            .service-box
                i.fa.fa-4x.fa-cube.wow.bounceIn
                h3 Themes
                p Our templates are updated regularly so they don't break.
        .col-lg-2.text-center
            .service-box
                i.fa.fa-4x.fa-users.wow.bounceIn
                h3 Play with Friends
                p Our templates are updated regularly so they don't break.
        .col-lg-2.text-center
            .service-box
                i.fa.fa-4x.fa-line-chart.wow.bounceIn
                h3 Statistics
                p Our templates are updated regularly so they don't break.
        .col-lg-2.text-center
            .service-box
                i.fa.fa-4x.fa-bullhorn.wow.bounceIn
                h3 Shareability
                p Our templates are updated regularly so they don't break.