header
  .header-content
    .header-content-inner
      img(src='/img/inspector.png')
      br
      br
      h1 Inspector Budget
      hr.light
      p
        | The best way to track your expenses
      a.btn.btn-primary.btn-xl.page-scroll(href='#about' style='font-size:16pt; width:300px;') Find Out More
      br
      a.btn.btn-xl.page-scroll(href='#live_demo' style='width:300px; color:white') To The Game