header
  .header-content
    .header-content-inner
      h1 Inspector Budget
      hr
      p
        | The best way to track your expenses
      a.btn.btn-primary.btn-xl.page-scroll(href='#about') Find Out More
