section#project
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Project Design
        hr.primary
  .container
    .row
      .col-lg-4.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-bar-chart.wow.bounceIn.text-primary
          h3 Visualization
          p.text-muted Know every detail of your financial routine
      .col-lg-4.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-flash.wow.bounceIn.text-primary(data-wow-delay='.1s')
          h3 Productivity
          p.text-muted optimize your expenses and cut costs
      .col-lg-4.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-gamepad.wow.bounceIn.text-primary(data-wow-delay='.2s')
          h3 Gamification
          p.text-muted Defeat monsters, increase your level and have fun