section#services
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Project Design
        hr.primary
  .container
    .row
      .col-lg-4.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-bar-chart.wow.bounceIn.text-primary
          h3 Budget Visualization
          p.text-muted Our templates are updated regularly so they don't break.
      .col-lg-4.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-flash.wow.bounceIn.text-primary(data-wow-delay='.1s')
          h3 Productivity
          p.text-muted You can use this theme as is, or you can make changes!
      .col-lg-4.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-gamepad.wow.bounceIn.text-primary(data-wow-delay='.2s')
          h3 Gamification
          p.text-muted We update dependencies to keep things fresh.