section#team.bg-primary
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Team
        hr.light
  .container
    .row
      .col-lg-2.col-lg-offset-1.text-center
        .service-box
          img(src='/img/edgar.png' width='100%').wow.bounceIn
          h3 Edgar Neto
          p @edgarjcfn
      .col-lg-2.text-center
        .service-box
          img(src='/img/tadas.png' width='100%').wow.bounceIn(data-wow-delay='.3s')
          h3 Tadas Ziemys
          p @tadas_ziemys
      .col-lg-2.text-center
        .service-box
          img(src='/img/olga.png' width='100%').wow.bounceIn(data-wow-delay='.2s')
          h3 Olga Santos
          p @suuperblaster
      .col-lg-2.text-center
        .service-box
          img(src='/img/felix.png' width='100%').wow.bounceIn(data-wow-delay='.3s')
          h3 Felix Exner
          p @exnerfelix
      .col-lg-2.text-center
        .service-box
          img(src='/img/ziro.png' width='100%').wow.bounceIn(data-wow-delay='.1s')
          h3 Ziro Neto
          p @ziro.neto
