section#tutorial
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Tutorial
        hr.primary
  br
  .container
    .row
      .col-lg-8.col-md-6
        div(style='text-align:left')
          h3 Budget Setup
          p.text-muted Log your salary and fixed expenses. After that insert daily, weekly and monthly budgets. They will define your progress during the game.
      .col-lg-4.col-md-6
        div(style='height:210px')
            img(src='/assets/settings_tutorial.png' height='100%')
    hr(style='border-color:#ddd;border-width:1px;max-width:100%')  
    .row
      .col-lg-4.col-md-6
        div(style='height:210px')
            img(src='/assets/input_tutorial.gif' width='100%')
      .col-lg-8.col-md-6
        div(style='text-align:left')
            h3 Input Expenses
            p.text-muted You start the game by logging every expense that you have during the day. Every time you insert an amount, you hit the monster.
    hr(style='border-color:#ddd;border-width:1px;max-width:100%')          
    .row
      .col-lg-8.col-md-6
        div(style='text-align:left')
          h3 Weather
          p.text-muted It reflects the progression of your budget. Sunshine for controlled budget. Rain if you spend too much.
      .col-lg-4.col-md-6
        div(style='height:210px')
            img(src='/assets/weather_tutorial.gif' width='100%')
    hr(style='border-color:#ddd;border-width:1px;max-width:100%')  
    .row
      .col-lg-4.col-md-6
        div(style='height:210px;')
            img(src='/assets/finish_day_tutorial.gif' width='100%')
      .col-lg-8.col-md-6
        div(style='text-align:left')
            h3 Finish Day
            p.text-muted Just click when you are sure you won’t spend any more money. All inputs are calculated and you won’t be able to add new information.
    hr(style='border-color:#ddd;border-width:1px;max-width:100%')        
    .row
      .col-lg-8.col-md-6
        div(style='text-align:left')
          h3 Monster
          p.text-muted By putting your mouse cursor on the monster, you can see more information about that exact day.
      .col-lg-4.col-md-6
        div(style='height:210px')
            img(src='/assets/monster_tutorial.gif' width='100%')
  br