section#portfolio.no-padding
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Tutorial
        hr.primary
  br
  .container
    .row
      .col-lg-8.col-md-6
        div(style='text-align:left')
          h3 Budget Setup
          p.text-muted Setup you Budget
      .col-lg-4.col-md-6
        div(style='background-color:lightgrey; height:210px')
            | Image here
    hr(style='border-color:#ddd;border-width:1px;max-width:100%')  
    .row
      .col-lg-4.col-md-6
        div(style='background-color:lightgrey; height:210px')
            | Image here
      .col-lg-8.col-md-6
        div(style='text-align:left')
            h3 Input Expenses
            p.text-muted Input Expenses
    hr(style='border-color:#ddd;border-width:1px;max-width:100%')          
    .row
      .col-lg-8.col-md-6
        div(style='text-align:left')
          h3 Weather
          p.text-muted Weather
      .col-lg-4.col-md-6
        div(style='background-color:lightgrey; height:210px')
            | Image here
    hr(style='border-color:#ddd;border-width:1px;max-width:100%')  
    .row
      .col-lg-4.col-md-6
        div(style='background-color:lightgrey; height:210px')
            | Image here
      .col-lg-8.col-md-6
        div(style='text-align:left')
            h3 Finish Day
            p.text-muted Setup you Budget
    hr(style='border-color:#ddd;border-width:1px;max-width:100%')        
    .row
      .col-lg-8.col-md-6
        div(style='text-align:left')
          h3 Health
          p.text-muted Setup you Budget
      .col-lg-4.col-md-6
        div(style='background-color:lightgrey; height:210px')
            | Image here
  br